@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Roboto+Mono&display=swap');
:root {
    --dark-bg: #262626;
    --gray-1: #BCB4B4;
    --deep-dark: #1E1E1E;
    --gray-2: #363636;
    --white: white;
    --black: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto Mono';
    font-size: 18px;
    color: var(--gray-1);
    background-color: var(--dark-bg);
    letter-spacing: 1px;
}
#section-one {
    position: relative;
    width: 100%;
    height: 950px;
    .menu-btn {
        display: none;
        }
    .navegation {
           position: fixed;
           width: 100%;
           background: var(--dark-bg);
           padding: 20px 0;
           display: flex;
           justify-content: center; 
           z-index: 2;
           .navegation__menu {
               list-style: none;
               .navegation__menu--link {
                   text-decoration: none;
                   color: var(--gray-1);
                   margin: 0 10px;
                   display: inline-block;
                   font-weight: 400;
                   font-size: 20px;
                   letter-spacing: 1px;
                   padding: 0.5em .8em;
                   &:hover {
                    background-color: var(--deep-dark);
                    border-radius: 8px;
                   }
               }
           }
    }
    .hero {
        position: relative;
        padding-top: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        p {
            color: var(--gray-1);
        }
        .hero__content {
            position: relative;
            width: 400px;
            margin: auto;
            h1 {
                position: absolute;
                top: 20px;
                left: 70px;
                font-size: 50px;
                color: var(--white);
                font-family: 'Montserrat';
                font-weight: 600;
            }
            .content-img {
                margin: 50px auto;
                height: 533px;
                width: 400px;
                border: 2px solid var(--gray-1);
                background-image: url(../images/foto.png);
                background-repeat: no-repeat;
                background-size: cover;
                box-shadow: 3px -2px 0px rgba($color: #000000, $alpha: 0.3);
            }
            .text-img {
                position: absolute;
                bottom: 130px;
                width: 400px;
                padding: 15px;
            }
            .btn {
                position: absolute;
                left: 25px;
                bottom: 70px;
                width: 350px;
                font-size: 22px;
                background-color: var(--gray-1);
                padding: 0.5em 1em;
                border: 2px solid var(--gray-1);
                border-radius: 8px;
                color: black;
                text-decoration: none;
            }
        }
    }
}
#section-two {
    position: relative;
    width: 100%;
    height: 500px;
    text-align: center;
    .services {
        width: 80%;
        margin: auto;
        .services__title {
            h2 {
                font-size: 80px;
                font-weight: bold;
                font-family: 'Montserrat';
            }
        }
        .services__content {
            display: flex;
            gap: 1em;
            justify-content: space-around;
            margin: auto;
            .services__content__card {
                margin: 50px 0 0;
                width: 500px;
                padding: 15px 20px;
                &:hover {
                    background-color: var(--deep-dark);
                    border-radius: 15px;
                    transform: scale(1.1);
                }
                ion-icon {
                    font-size: 2em;
                }
                h4 {
                    font-size: 25px;
                    font-family: 'Montserrat';
                }
                p {
                    width: 350px;
                    margin: 20px auto 20px auto;
                }
            }
        }
    }
}
#section-three {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
    .projects{
        position: relative;
        width: 80%;
        padding-top: 100px;
        margin: auto;
        .projects__title {
            h2 {
                font-size: 80px;
                font-weight: bold;
                font-family: 'Montserrat';
                margin-bottom: 60px;
            }
        }
        .projects__content {
            position: relative;
            display: flex;
            gap: 2em;
            justify-content: center;
            .projects__content__card {
                position: relative;
                height: 100%;
                .img-content {
                    margin: 20px 0px;
                    width: 485px;
                    height: 277px;
                    border: 1px solid var(--gray-1);
                    border-radius: 15px;
                    box-shadow: 2px -1px 0px rgba($color: #000000, $alpha: 0.3);
                    cursor: pointer;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                .work-one {
                    background-image: url(../images/UTM.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .work-two {
                    background-image: url(../images/clock.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .text-content {
                    font-size: 15px;
                    padding: 30px;
                    background: var(--deep-dark);
                    border: 1px solid var(--gray-1);
                    border-radius: 15px;
                    width: 485px;
                    height: 150px;
                    cursor: pointer; 
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
#section-four {
    position: relative;
    height: 600px;
    .about {
        position: relative;
        width: 90%;
        height: 100%;
        margin: auto;
        display: flex;
        .about__text-content {
            padding-left: 50px;
            width: 50%;
            align-self: center;
            h2 {
                font-size: 70px;
                font-weight: bold;
                font-family: 'Montserrat';
                margin-bottom: 30px;
            }
            .about-description {
                margin-bottom: 30px;
            }
            .btn {
                width: 350px;
                font-size: 22px;
                background-color: var(--gray-1);
                padding: 0.5em 1em;
                border: 2px solid var(--gray-1);
                border-radius: 8px;
                color: black;
                text-decoration: none;
            }
            .btn-outline {
                width: 400px;
                font-size: 22px;
                padding: 0.5em 1em;
                border: 2px solid var(--gray-1);
                border-radius: 8px;
                color: var(--white);
                text-decoration: none;
            }
        }
        .about__img-content {
            position: relative;
            width: 50%;
            .img-one {
                position: absolute;
                right: 0;
                top: 0;
                width: 400px;
                height: 500px;
                border: 1px solid #fff;
                background-color: var(--gray-1);
                background-image: url(../images/foto.png);
                background-size: 400px;
            }
            .img-two {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 280px;
                height: 300px;
                border: 1px solid #fff;
                background-color: var(--gray-2);
                background-color: var(--gray-1);
                background-image: url(../images/foto.png);
                background-size: 280px;
            }
        }
    }
}
#section-five {
    position: relative;
    padding: 100px 0;
    width: 100%;
    height: 400px;
    text-align: center;
    .content {
        width: 90%;
        margin: auto;
        background: var(--deep-dark);
        border-radius: 15px;
        padding: 50px;
        h1 {
            font-size: 40px;
            margin-bottom: 30px;
        }
        .btn {
            width: 350px;
            font-size: 22px;
            background-color: var(--gray-1);
            padding: 0.5em 1em;
            border: 2px solid var(--gray-1);
            border-radius: 8px;
            color: black;
            text-decoration: none;
        }
    }
}
#section-six {
    position: relative;
    width: 100%;
    .footer {
        background: var(--deep-dark);
        display: flex;
        line-height: 1.5;
        height: 250px;
        .footer__about {
            padding: 20px;
        }
        li {
            list-style: none;
            padding: 20px;
            h2 {
                font-size: 24px;
                font-family: 'Montserrat';
            }
            a {
                text-decoration: none;
                color: var(--gray-1);
            }
            span {
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}

@media (max-width:1080px) {
    .projects__content {
        flex-direction: column;
        .projects__content__card  {
            margin: auto;
        }
    }
    #section-four {
        height: 1000px;
        .about {
            flex-direction: column;
            .about__img-content {
                width: 100%;
                height: 600px;
                .img-one {
                    right: 100px;
                }
                .img-two {
                    left: 300px;
                }
            }
            .about__text-content {
                width: 100%;
                height: 300px;
            }
        }
    }
    .footer {
        font-size: 16px;
    }
}
@media (max-width:900px) {
    #section-one {
        height: 1000px;
        .menu-btn {
            z-index: 1;
            display: inline;
            position: fixed;
            align-self: center;
            right: 20px;
            top: 30px;
            font-size: 3.5em;
            text-align: center;
            background-color: var(--deep-dark);
            height: 70px;
            width: 70px;
            border-radius: 5px;
            color: var(--gray-1);
            &:hover {
                cursor: pointer;
            }
        }
        .navegation {
            padding: 0;
            .navegation__menu {
                height: 100vh;
                width: 100%;
                display: none;
                flex-direction: column;
                justify-content: center;
                .navegation__menu--link {
                    font-size: 30px;
                    text-align: center;
                    margin: 20px;
                }
            }
            .show {
                display: flex;
            }
        }
        .hero {
            padding-top: 100px;
            height: 900px;
            .hero__content {
                height: 900px;
                h1 {
                    top: 0;        
                }
                .text-img {
                    bottom: 70px;
                }
                .btn {
                    bottom: 15px;
                }
            }
        }
    }
    #section-two {
        height: 800px;
        .services {
            .services__content {
                flex-direction: column;
                margin: auto;
                text-align: center;
                .services__content__card {
                    margin: 50px auto;
                }
            }
        }
    }
    #section-four {
        .about {
            gap: 2em;
            .about__img-content {
                height: 700px;
                .img-one {
                    right: 50px
                }
                .img-two {
                    left: 150px;
                }
            }
        }     
    }
    #section-six {
        .footer {
            height: auto;
            flex-direction: column;
            text-align: center;
        }
    }
}

@media (max-width:700px) {
    #section-four {
        height: 1100px;
        .about__img-content {
            top: 50px;
        }
    }
    #section-two {
        .services {
            .services__content {
                .services__content__card {
                    width: 350px;
                    font-size: 15px;
                    padding: auto;
                    p {
                        width: auto;
                    }
                }
            }
        }
    }
}