@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Roboto+Mono&display=swap");
:root {
  --dark-bg: #262626;
  --gray-1: #BCB4B4;
  --deep-dark: #1E1E1E;
  --gray-2: #363636;
  --white: white;
  --black: black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Mono';
  font-size: 18px;
  color: var(--gray-1);
  background-color: var(--dark-bg);
  letter-spacing: 1px;
}

#section-one {
  position: relative;
  width: 100%;
  height: 950px;
}

#section-one .navegation {
  position: fixed;
  width: 100%;
  background: var(--dark-bg);
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

#section-one .navegation .navegation__menu {
  list-style: none;
}

#section-one .navegation .navegation__menu .navegation__menu--link {
  text-decoration: none;
  color: var(--gray-1);
  margin: 0 10px;
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 0.5em .8em;
}

#section-one .navegation .navegation__menu .navegation__menu--link:hover {
  background-color: var(--deep-dark);
  border-radius: 8px;
}

#section-one .hero {
  position: relative;
  padding-top: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  text-align: center;
}

#section-one .hero p {
  color: var(--gray-1);
}

#section-one .hero .hero__content {
  position: relative;
  width: 400px;
  margin: auto;
}

#section-one .hero .hero__content h1 {
  position: absolute;
  top: 20px;
  left: 70px;
  font-size: 50px;
  color: var(--white);
  font-family: 'Montserrat';
  font-weight: 600;
}

#section-one .hero .hero__content .content-img {
  margin: 50px auto;
  height: 533px;
  width: 400px;
  border: 2px solid var(--gray-1);
  background-image: url(../images/foto.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#section-one .hero .hero__content .text-img {
  position: absolute;
  bottom: 130px;
  width: 400px;
  padding: 15px;
}

#section-one .hero .hero__content .btn {
  position: absolute;
  left: 25px;
  bottom: 70px;
  width: 350px;
  font-size: 22px;
  background-color: var(--gray-1);
  padding: 0.5em 1em;
  border: 2px solid var(--gray-1);
  border-radius: 8px;
  color: black;
  text-decoration: none;
}

#section-two {
  position: relative;
  width: 100%;
  height: 500px;
  text-align: center;
}

#section-two .services {
  width: 80%;
  margin: auto;
}

#section-two .services .services__title h2 {
  font-size: 80px;
  font-weight: bold;
  font-family: 'Montserrat';
}

#section-two .services .services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#section-two .services .services__content .services__content__card {
  margin: 50px 0 0;
  width: 500px;
  padding: 15px 20px;
}

#section-two .services .services__content .services__content__card:hover {
  background-color: var(--deep-dark);
  border-radius: 15px;
}

#section-two .services .services__content .services__content__card ion-icon {
  font-size: 2em;
}

#section-two .services .services__content .services__content__card h4 {
  font-size: 25px;
  font-family: 'Montserrat';
}

#section-two .services .services__content .services__content__card p {
  width: 350px;
  margin: 20px auto 20px auto;
}

#section-three {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

#section-three .projects {
  position: relative;
  width: 80%;
  margin: auto;
}

#section-three .projects .projects__title h2 {
  font-size: 80px;
  font-weight: bold;
  font-family: 'Montserrat';
  margin-bottom: 100px;
}

#section-three .projects .projects__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-three .projects .projects__content .projects__content__card {
  position: relative;
  height: 100%;
}

#section-three .projects .projects__content .projects__content__card .img-content {
  margin: 20px 0px;
  width: 485px;
  height: 394px;
  border: 1px solid var(--gray-1);
  border-radius: 15px;
}

#section-three .projects .projects__content .projects__content__card .text-content {
  padding: 30px;
  background: var(--deep-dark);
  border: 1px solid var(--gray-1);
  border-radius: 15px;
  width: 485px;
  height: 150px;
}

#section-four {
  position: relative;
  height: 600px;
}

#section-four .about {
  position: relative;
  width: 90%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-four .about .about__text-content {
  padding-left: 50px;
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#section-four .about .about__text-content h2 {
  font-size: 70px;
  font-weight: bold;
  font-family: 'Montserrat';
  margin-bottom: 30px;
}

#section-four .about .about__text-content .about-description {
  margin-bottom: 30px;
}

#section-four .about .about__text-content .btn {
  width: 350px;
  font-size: 22px;
  background-color: var(--gray-1);
  padding: 0.5em 1em;
  border: 2px solid var(--gray-1);
  border-radius: 8px;
  color: black;
  text-decoration: none;
}

#section-four .about .about__text-content .btn-outline {
  width: 400px;
  font-size: 22px;
  padding: 0.5em 1em;
  border: 2px solid var(--gray-1);
  border-radius: 8px;
  color: var(--white);
  text-decoration: none;
}

#section-four .about .about__img-content {
  position: relative;
  width: 50%;
}

#section-four .about .about__img-content .img-one {
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  height: 500px;
  border: 1px solid #fff;
  background-color: var(--gray-1);
  background-image: url(../images/foto.png);
  background-size: 400px;
}

#section-four .about .about__img-content .img-two {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 280px;
  height: 300px;
  border: 1px solid #fff;
  background-color: var(--gray-2);
  background-color: var(--gray-1);
  background-image: url(../images/foto.png);
  background-size: 280px;
}

#section-five {
  position: relative;
  padding: 100px 0;
  width: 100%;
  height: 400px;
  text-align: center;
}

#section-five .content {
  width: 90%;
  margin: auto;
  background: var(--deep-dark);
  border-radius: 15px;
  padding: 50px;
}

#section-five .content h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

#section-five .content .btn {
  width: 350px;
  font-size: 22px;
  background-color: var(--gray-1);
  padding: 0.5em 1em;
  border: 2px solid var(--gray-1);
  border-radius: 8px;
  color: black;
  text-decoration: none;
}

#section-six {
  position: relative;
  width: 100%;
}

#section-six .footer {
  background: var(--deep-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5;
}

#section-six .footer .footer__about {
  padding: 20px;
}

#section-six .footer li {
  list-style: none;
  padding: 20px;
}

#section-six .footer li h2 {
  font-size: 24px;
  font-family: 'Montserrat';
}

#section-six .footer li a {
  text-decoration: none;
  color: var(--gray-1);
}

#section-six .footer li span {
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 1080px) {
  .projects__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects__content .projects__content__card {
    margin: auto;
  }
  #section-four {
    height: 800px;
  }
  #section-four .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #section-four .about .about__img-content {
    width: 100%;
    height: 500px;
  }
  #section-four .about .about__img-content .img-one {
    right: 100px;
  }
  #section-four .about .about__img-content .img-two {
    left: 300px;
  }
  #section-four .about .about__text-content {
    width: 100%;
    height: 300px;
  }
  .footer {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  #section-two {
    height: 800px;
  }
  #section-two .services .services__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    text-align: center;
  }
  #section-two .services .services__content .services__content__card {
    margin: 50px auto;
  }
  #section-four {
    height: 1000px;
  }
  #section-four .about {
    gap: 2em;
  }
  #section-four .about .about__img-content {
    height: 700px;
  }
  #section-four .about .about__img-content .img-one {
    right: 50px;
  }
  #section-four .about .about__img-content .img-two {
    left: 150px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */