@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --cyan: #0090a5;
    --bg-section: rgba(250,250,250,.3);
}
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
html {
    scroll-behavior: smooth !important;
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width:.7rem;
}
  
html::-webkit-scrollbar-track{
    background:#fff;
}
  
html::-webkit-scrollbar-thumb{
    background:var(--cyan);
}
  
body{
    background:#b3b3b3;
    padding-right: 5rem;
}
  
section{
    padding:4rem 9%;
    min-height: 100vh;
    width: 95vw;
    margin-left: 7rem;
}
  
.heading{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 5rem;
    text-transform: uppercase;
    color:#222;
    span{
        text-transform: uppercase;
        color:var(--cyan);
    }
}
  
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:#222;
    color:#fff;
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: .2rem;
    &:hover{
        background:var(--cyan);
        letter-spacing: .2rem;
    }
}

/*  Barra de navegación */

header {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 8rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #222;
    z-index: 1000;
    .menu {
        display: flex;
        flex-direction: row-reverse;
        transform: rotate(180deg);
        writing-mode: vertical-lr;
        font-size: 2rem;
        font-weight: 600;
        a {
            padding: 1.5rem;
            width: auto;
            color: #fff;
            &:hover {
                color: #d3d3d3;
                transform: rotate(90deg);
                background: var(--cyan);
            }
        }
    }
    .btn-menu {
        position: fixed;
        z-index: 1;
        top: 1rem;
        left: 1rem;
        padding: 1.4rem 1rem;
        border-radius: 0.5rem;
        color: #222;
        background: var(--cyan);
        cursor: pointer;
        display: none;
    }
}
/* Sección Home */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    .home-container {
        text-align: center;
        position: relative;
        img {
            height: 25rem;
            width: 25rem;
            border-radius: 50%;
            object-fit: cover;
            border: .5rem solid var(--cyan);
        }
        h3 {
            font-size: 4rem;
            color: #222;
            text-transform: uppercase;
            span {
                color: var(--cyan);
                text-transform: uppercase;
            }
        }
        p {
            color: #222;
            font-size: 2.5rem;
            line-height: 2;
        }
    }
}

/* Sección portfolio */
.portfolio {
    .box-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        .box {
            flex: 1 1 30rem;
            border-radius: .5rem;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
            position: relative;
            overflow: hidden;
            height: 25rem;
            background: var(--bg-section);
            &:hover {
                .content {
                    left: 0;
                }
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .content {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 100%;
                background: #d3d3d3;
                opacity: .9;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                p {
                    font-size: 2rem;
                    margin-bottom: 2rem;
                    text-align: center;
                    padding: 0 5rem;
                    font-weight: bold;
                }
            }
        }
    }
}
/* Sección skills */
.skills {
    .box-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        .box {
            flex: 1 1 30rem;
            border-radius: .5rem;
            background: var(--bg-section);
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
            padding: 3rem;
            text-align: center;
            ion-icon {
                font-size: 10rem;
                color: rgba(0,0,0,.8);
                margin-bottom: 2rem;
                &:hover {
                    color: var(--cyan);
                }
            }
            h3 {
                font-size: 3rem;
                margin-bottom: 1rem;
            }
        }
    }
}
/* Section technologies */
.technologies {
    padding: 6rem 0;
    width: 100%;
    .box-container {
        height: 250px;
        margin: 6rem auto 3rem auto;
        position: relative;
        width: 100%;
        display: grid;
        place-items: center;
        .slide-track {
            display: flex;
            width: calc(300px * 12);
            animation: scroll 40s linear infinite;
            @keyframes scroll {
                0% {
                    transform: translateX(0);
                } 
                100% {
                    transform: translateX(calc(-300px * 6));
                }
             }
            &:hover {
                animation-play-state: paused;
            }
            .slide {
                height: 200px;
                width: 300px;
                display: flex;
                align-items: center;
                padding: 15px;
                perspective: 100px;
                ion-icon {
                    flex: 1 1 30rem;
                    border-radius: .5rem;
                    box-shadow: 0 0 1rem rgba(0,0,0,.1);
                    position: relative;
                    font-size: 15rem;
                    background: var(--bg-section);
                    color: rgba(0,0,0,.8);
                    padding: 5rem 2rem;
                    &:hover {
                        box-shadow: 0 0 3rem rgba(0,0,0,.4);
                        color: var(--cyan);
                        background: rgba(250,250,250,.6);
                        transform: translateZ(10px);
                    }
                }
            }
        }
    }
}

/* Sección about */
.about {
    .content {
        h3 {
            color:#222;
            font-size: 5rem;
            span {
                color:var(--cyan);
            }
        }
        .info {
            color:#333;
            font-size: 2rem;
            padding:1rem 0;
             line-height: 2;
        }
    }
    .box-container {
        display: flex;
        flex-wrap: wrap;
        gap:1.5rem;
        padding:1rem 0;
        .box {
            flex:1 1 20rem;
            p {
                font-size: 2rem;
                color:#222;
                padding:.5rem 0;
                line-height: 2;
                span {
                    color:var(--cyan);
                    font-weight: bold;
                }
            }
        }
    }
}
/* Sección contact */
.contact {
    .row {
        display: flex;
        align-items: center;
        justify-content: center;
        form {
            padding: 1rem 2rem;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
            border-radius: .5rem;
            background: var(--bg-section);
            max-width: 60rem;
            .inputBox {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                input {
                    width:100%;
                    border-radius: .5rem;
                    font-size: 1.7rem;
                    color:#333;
                    padding:1rem;
                    margin:1rem 0;
                    border:.1rem solid rgba(0,0,0,.1);
                    text-transform: none;
                }
            }
            .box {
                width:100%;
                border-radius: .5rem;
                font-size: 1.7rem;
                color:#333;
                padding:1rem;
                margin:1rem 0;
                border:.1rem solid rgba(0,0,0,.1);
                text-transform: none;
            }
            textarea {
                width:100%;
                border-radius: .5rem;
                font-size: 1.7rem;
                color:#333;
                padding:1rem;
                margin:1rem 0;
                border:.1rem solid rgba(0,0,0,.1);
                text-transform: none;
            }
        }
    }
}
.contact .row form .inputBox input:focus,
.contact .row form .box:focus,
.contact .row form textarea:focus{
    border-color: var(--cyan);
}

footer {
    display: flex;
    width: 95vw;
    margin-left: 7rem;
    background: #222;
    text-align: center;
    justify-content: center;
    li {
        display: flex;
        flex-direction: column;
        margin: 3rem 5rem;
        color: #d3d3d3;
        h4 {
            font-size: 3rem;
            margin-bottom: .3rem;
        }
        a {
            font-size: 2rem;
            color: #d3d3d3;
            margin-bottom: .3rem;
            &:hover {
                text-decoration: underline;
                text-decoration-color: var(--cyan);
            }
        }
        span {
            font-size: 2rem;
            margin-bottom: 1rem;
            &:hover {
                text-decoration: underline;
                text-decoration-color: var(--cyan);
            }
        }
    }
}
/*  Media Queries */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    body{
        padding-right: 0;
    }
    
    section{
        padding:2rem;
    }

}
@media (max-width:780px) {
    section {
        margin-left: 0;
    }
    header {
        position: absolute;
        top: 0; right: 0; left: 0;
        background: none;
        .active {
            opacity: 1 !important;
            visibility: visible !important; 
        }
        .menu {
            position: fixed;
            top: 0; right: 0; left: 0;
            width: 100%;
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            transform: rotate(0);
            writing-mode: unset;
            z-index: 1;
            background: rgba(0,0,0,.9);
            opacity: 0;
            visibility: hidden;
            transition: transform .3s ease;
            a {
                margin: 2rem auto;
                width: 100%;
                font-size: 3rem;
                text-align: center;
                &:hover {
                    transform: rotate(0deg);
                }
            }
        }
        .btn-menu {
            display: flex;
        }
    }
    footer {
        margin-left: 0;
        width: 100%;
        flex-wrap: wrap;
    }
}
@media (max-width:450px){

    html{
        font-size: 50%;
        text-align: center;
    }
    section {
        min-height: auto;
    }
    .home {
        min-height: 70vh;
    }
    .technologies {
        .box-container {
            overflow: hidden;
        }
    }
    .contact .row form .inputBox input{
        width:100%;
    }
    footer {
        li {
            margin: 2rem 3rem;
        }
    }

}